.slider{
    height: 200px;
    background: #fff;
    margin: auto;
    position: relative;
    width: 100%;
    display: grid;
    place-items: center;
    overflow: hidden;
}

.slider-sub{
    height: 150px;
    width: 90%;
    overflow: hidden;
    
}

.slider-track {
    display: flex;
    width: calc(250px * 18);
    animation: scroll 10s linear infinite;
}

.slider-track:hover {
    animation-play-state: paused;
}

@keyframes scroll {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(calc(-250px * 2.2));
    }

}

.slide {
    height: 150px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    perspective: 100px;
}

.slide img {
  
    transition: transform 1s;

} 
.slide img:hover{
    transform: translateZ(20px);
}

.slider::before{
    background: linear-gradient(to right, rgba(255,255,255,1) 30%,
    rgba(255,255,255,0) 100%);
    content:'';
    height: 100%;
    position: absolute;
    width: 10%;
    z-index: 2;
}
.slider::after{
    background: linear-gradient(to left, rgba(255,255,255,1) 30%,
    rgba(255,255,255,0) 100%);
    content:'';
    height: 100%;
    position: absolute;
    width: 10%;
    z-index: 2;
}

.slider::before{
    left: 0;
    top: 0;
}

.slider::after{
    right: 0;
    top: 0;
}