@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700,800');


:root{
    --purple-primary: #554DDE;
    --accent-pink: #F44E77;
    --neutral-light: #F2F6FF;
    --lavender-secondary: #6A6D9E; /*Primary Font Color*/
    --dark-primary: #16194F;
    --border-colour: #CAD6F1;
    
}